.list {
  width: 70%;
}

@media screen and (min-width: 360px) {
  .list {
    width: 100%
  }
}

@media screen and (min-width: 768px) {
  .list {
    width: 85%
  }
}

@media screen and (min-width: 992px) {
  .list {
    width: 70%
  }
}

@media screen and (min-width: 1440px) {
  .list {
    width: 100%
  }
}

.item_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.icon {
  color: #434546;
  scale: 1;
  font-size: 1.8rem;
  transition: color, scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  ;
}


.item_link:hover .icon {
  color: #0275d8;
  scale: 1.1
}

/* .icon:hover {
  color: #0275d8;
  scale: 1.1
} */

.svg_icon {
  fill: #434546;
  scale: 1;
  transition: fill, scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  ;
}

.svg_icon:hover {
  fill: #0275d8;
  scale: 1.1
}