.list {
  width: 75%;
}

@media screen and (min-width: 412px) {
  .list {
    width: 100%
  }
}

@media screen and (min-width: 768px) {
  .list {
    width: 80%
  }
}

@media screen and (min-width: 1024px) {
  .list {
    width: 100%
  }
}



.icon {
  color: #434546;
  scale: 1;
  font-size: 1.7rem;
  transition: color, scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  ;
}

.icon:hover {
  color: #0275d8;
  scale: 1.1
}

.svg_icon {
  fill: #434546;
  scale: 1;
  transition: fill, scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  ;
}

.svg_icon:hover {
  fill: #0275d8;
  scale: 1.1
}